@media (max-width: 977px) {
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
}





@media (max-width: 1024px) {
  /*service section -----------------------------------------------------------------------------------------------*/
.service-section > h4 {
    font-size: 26px;
    margin-top: 40vh;

}


.service-section > h1 {
 
  font-size:3vw;
}

.service-section > h1 >span{
  font-size: 10vw;

}

.service-section > aside:nth-child(4) {
  
  width: 95%;
  height: 60vh;
  justify-content: space-between;
}


}

/* --------------project---------- */



.recent-works > h4 {
  
  font-size: 26px;

}

.recent-works > h1 {

  font-size:2vw;
 
}

.recent-works > h1 > span {
  font-size: 6w;
}



.work-svg {
  width: 40vw;
  height: 70vh;
}

.recent-works > section > div:nth-child(1) > div > div:first-child {
  left: 10vh;
}

.recent-works > section > div:nth-child(2) > div > div:first-child {
  left: 12vh;

  
}

.recent-works > section > div > div > h4 {
  left: 10vh;
  font-size: 26px;

}

.recent-works > section > div > div > p {
  left: 12vh;
  font-size: 21px;
  
}

.recent-works > section > div > div > a {
  left: 10vh;

  top: 7vh;
  
}

/* -----------------language----------------------- */

.language-tools>div>h2,.language-tools>div>h2{

  font-size: 2vw;
  

}



.language-tools>div>div>img:first-child{
  height: 18vh;
  
}

.language-tools>div>div>img:last-child{
  height: 15vh;
 
}
.language-tools>div>div>div:nth-child(2){
  width: 30vw;
  height: 9vh;

}

.language-tools>div>div>div:nth-child(3){
  width:30vw;
  height: 8vh;

}



.language-tools>div:last-child>div>div:nth-child(3){
  width:25vw;
  height: 8vh;
  
}

.language-tools>div:last-child>div>div:nth-child(4){
  width: 30vw;
  height: 9vh;


}


.language-tools > h4 {
  margin-top: 40vh;
  font-size: 26px;

}

.language-tools > h1 {
  
  font-size: 2vw;
  
}

.language-tools > h1 >span{
  font-size: 6vw;

}





@media (max-width: 767px) {
  /*service section -----------------------------------------------------------------------------------------------*/
.service-section > h4 {
    font-size: 26px;
    margin-top: 40vh;

}


.service-section > h1 {
 
  font-size:3vw;
}

.service-section > h1 >span{
  font-size: 10vw;

}

.service-section > aside:nth-child(4) {
  
  width: 95%;
  height: 60vh;
  justify-content: space-between;
}


}

/* --------------project---------- */



.recent-works > h4 {
  
  font-size: 26px;

}

.recent-works > h1 {

  font-size:2vw;
 
}

.recent-works > h1 > span {
  font-size: 6w;
}



.work-svg {
  width: 40vw;
  height: 70vh;
}

.recent-works > section > div:nth-child(1) > div > div:first-child {
  left: 10vh;
}

.recent-works > section > div:nth-child(2) > div > div:first-child {
  left: 12vh;

  
}

.recent-works > section > div > div > h4 {
  left: 10vh;
  font-size: 26px;

}

.recent-works > section > div > div > p {
  left: 12vh;
  font-size: 21px;
  
}

.recent-works > section > div > div > a {
  left: 10vh;

  top: 7vh;
  
}

/* -----------------language----------------------- */

.language-tools>div>h2,.language-tools>div>h2{

  font-size: 2vw;
  

}



.language-tools>div>div>img:first-child{
  height: 18vh;
  
}

.language-tools>div>div>img:last-child{
  height: 15vh;
 
}
.language-tools>div>div>div:nth-child(2){
  width: 30vw;
  height: 9vh;

}

.language-tools>div>div>div:nth-child(3){
  width:30vw;
  height: 8vh;

}



.language-tools>div:last-child>div>div:nth-child(3){
  width:25vw;
  height: 8vh;
  
}

.language-tools>div:last-child>div>div:nth-child(4){
  width: 30vw;
  height: 9vh;


}


.language-tools > h4 {
  margin-top: 40vh;
  font-size: 26px;

}

.language-tools > h1 {
  
  font-size: 2vw;
  
}

.language-tools > h1 >span{
  font-size: 6vw;

}


